/* Global styles */

.homePage {
  font-family: 'Roboto', sans-serif;

}

.homePage button {
  background-color: #29ada0;
  color: white;
  width: 150px;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: large;
  cursor: pointer;
  justify-content: center;
}

.homePage button:hover {
  background-color: #2980b9;
}

.homePage a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 18px;
}

/* Navbar styles */

.homePage nav {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

/* Create Post Page styles */

.createPostPage {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cpContainer {
  width: 600px;
  max-height: 70vh;
  background-color: #3498db;
  border-radius: 15px;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}

.cpContainer h1 {
  text-align: center;
}

.cpContainer label {
  font-size: 20px;
}

.inputGp {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.inputGp input,
.inputGp textarea,
.inputGp select {
  font-size: 16px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-top: 5px;
}

.inputGp textarea {
  height: 100px;
}

.cpContainer button {
  margin-top: 20px;
  height: 50px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: large;
  transition: background-color 0.3s;
}

input,
textarea,
select {
  margin-top: 10px;
}

.cpContainer button:first-child {
  background-color: #2ecc71;
  margin-right: 10px;
}

.cpContainer button:last-child {
  background-color: #e74c3c;
}

/* Popup styles */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.popup-inner {
  position: fixed;
  padding: 32px;
  width: 100%;
  max-width: 675px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.popup-inner .close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

/* Home page styles */

.homePage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  height: 100%;
  left: 10px;
}

/* .homePage .post {
  position: relative;
  left: 100px;
  width: 70%;
  bottom: 23%;
  max-width: 100%;
  margin: 20px auto;
  background-color: #cecdcd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 15px;
} */

.homePage .post {
  width: 800px; /* Adjust the width as needed */
  max-width: 800px; /* Set a maximum width for larger screens */
  margin: 20px auto;
  background-color: #cecdcd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 15px;
}


.post .dateFrom, .dateTo, .postLocation{ 
  font-size: 20px;
}
.postHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  margin-top: -60px;
  margin-bottom: -60px;
}

.post .postTextContainer {  
  word-wrap: break-word;
  height: auto;
  max-height: 400px;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
}
.postTextContainer{
  font-size: 20px;
}
.post .postCategory {
  background-color: #29ada0;
  color: white;
  padding: 8px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 40px;
}

.select-wrapper{
  position: relative;
  bottom: 25%;
}
.post .postCategory h2 {
  margin: 0;
}

.post img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-top: 10px;
}

.post .rsvpButton {
  background-color: #3498db;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.post .rsvpButton:hover {
  background-color: #2980b9;
}
.postAuthorName{
  font-size: 30px;
}
.post .emailText{
  font-size: 30px;
}
.home_Events_RSVP{
  position: relative;
  /* right: 110px; */
}
.numRSVPattendees{
  font-size: 30px;
  position: relative;
  bottom: 70px;
  left: 160px;
}
/* Notification styles */
.updPostBtns{
  position: relative;
  left: 200px;
}
.notification-container {
  position: absolute;
  top: 110px; /* Adjust as needed */
  left: 46%; /* Adjust as needed */
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 99;
  display: grid;
  justify-content: center;
  width: 400px;
}

.notification-container h3 {
  margin-top: 0;
  justify-self: center;
  font-size: 30px;
}

.notification-container button {
  margin-top: 80px;
  justify-self: center;
  margin-right: 50%;
  display: grid;
  position: relative;
  bottom: 90px;
  left: 120px;
}

.notifButton {
  top: 1%;
  left: 1%;
  padding-top: 70px;
  padding-bottom: 50px;
  position: absolute;
  justify-self: center;
}
.notification-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-size: 20px;
}

.notification-container li {
  margin-bottom: 15px;
}

.notif {
  background-color: #29ada0;
  color: white;
  /* width: 120px;
  height: 40px; */
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: large;
  cursor: pointer;
  /* left: 51%;
  top: 26px;
  position: absolute; */
  justify-content: center;
  padding: 10px;
}
.notif_events_btn button{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: relative;
  bottom: 145px;
  left: 300px;
}
.CreateEvent{
  background-color: #29ada0;
  color: white;
  /* width: 120px;
  height: 40px; */
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: large;
  cursor: pointer;
  /* left: 51%;
  top: 26px;
  position: absolute; */
  justify-content: center;
  padding: 10px;
}
.ta-btn-container button{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: relative;
  right: 400px;
  bottom: 211px;
}
.toggle-analytics-button {
  background-color: #29ada0;
  color: white;
  /* width: 120px;
  height: 40px; */
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: large;
  cursor: pointer;
  /* left: 51%;
  top: 26px; */
  position: relative;
  justify-content: center;
  padding: 10px;
}
/* Events search bar styles */
.create_event button{
  position: relative;
  bottom: 80px;
  left: 380px;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.eventsSearchBar {
  position: relative;
  right: 50px;
  display: grid;
  width : 40%;
  min-width: 200px;
}

.eventsSearchBar input {
  width: 100%;
  height: 60px;
  justify-self: center;
  text-decoration: none;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  /* margin: 10px; */
  margin-bottom: 10px;
  font-size: 25px;
}

/* Event analytics container styles */

.event-analytics-container {
  margin-top: -10.5%;
  text-align: center;
  width: 100%;
  position: relative;
}

/* Toggle analytics button styles */

/* Event analytics styles */

.event-analytics {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.event-analytics h2 {
  margin-bottom: 10px;
}

.event-analytics-item {
  margin-bottom: 20px;
}

.event-analytics-item h3 {
  margin-bottom: 5px;
}

.event-analytics-item button {
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.event-analytics-item button:hover {
  background-color: #219653;
}

/* RSVP users container styles */

.rsvp-users-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.rsvp-users-container h2 {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

.rsvp-users-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rsvp-users-container li {
  margin-bottom: 5px;
  font-size: 16px;
}

.rsvp-users-container button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
}

.rsvp-users-container button:hover {
  background-color: #c0392b;
}


/* Style for dropdown menu */
.select-wrapper {
  position: relative;
}

.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  background-color: rgba(41, 173, 160, 0.5);
  border: 1px solid #ccc;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  /* width: 200px; */
  outline: none;
  cursor: pointer;
}

.select-wrapper select:focus {
  border-color: #007bff;
}

/* Arrow icon */
.select-wrapper::after {
  content: '\25BC'; /* Unicode character for down arrow */
  font-size: 12px;
  color: #555;
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Hover effect */
.select-wrapper:hover::after {
  color: #333;
}

/* Focus effect */
.select-wrapper select:focus + ::after {
  color: #007bff;
}

@media (max-width: 1300px){
  .homePage .post {
    width: 800px;
    max-width: 800px;
    left: 20px;
  }
  .notif_events_btn button{
    bottom: 145px;
    left: 250px;
  }
  .ta-btn-container button{
    left: 340px;
  }
  .create_event button{
    bottom: 80px;
    left: 425px;
  }
  .eventsSearchBar {
    right: 90px;
    width : 550px;
  }
  .postHeader{
    margin-top: -40px;
    margin-bottom: -40px;
    font-size: 30px;
    text-transform: capitalize;
  }
  .post .dateFrom, .dateTo, .postLocation{ 
    font-size: 20px;
  }
  .postCategory{
    font-size: 40px;
  }
}

@media (max-width: 1000px){
  .homePage .post {
    width: 700px;
    max-width: 800px;
    /* min-width: 600px; */
    margin: 20px auto;
    /* background-color: #ffffff; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 15px;
    position: relative;
    left: 0px;
  }
  .notif_events_btn button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    bottom: 145px;
    left: 205px;
  }
  .ta-btn-container button{
    left: 278px;
  }
  .create_event button{
    position: relative;
    bottom: 80px;
    left: 350px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
  }
  .eventsSearchBar {
    position: relative;
    right: 90px;
    display: grid;
    width : 450px;
  }
  .postHeader{
    margin-top: -40px;
    margin-bottom: -40px;
    font-size: 30px;
    text-transform: capitalize;
  }
  .post .dateFrom, .dateTo, .postLocation{ 
    font-size: 20px;
  }
  .postCategory{
    font-size: 40px;
  }
}
@media (max-width:800px){
  .notification-container{
    left: 25%;
  }
}
@media (max-width: 750px){
  .homePage .post {
    width: 550px;
    max-width: 800px;
    /* min-width: 600px; */
    margin: 20px auto;
    /* background-color: #ffffff; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 15px;
    position: relative;
    left: 0px;
  }
  .notif_events_btn button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    bottom: 145px;
    left: 150px;
  }
  .ta-btn-container button{
    left: 220px;
  }
  .create_event button{
    position: relative;
    bottom: 80px;
    left: 292px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
  }
  .eventsSearchBar {
    position: relative;
    right: 90px;
    display: grid;
    width : 400px;
  }
  .postHeader{
    margin-top: -40px;
    margin-bottom: -40px;
    font-size: 30px;
    text-transform: capitalize;
  }
  .post .dateFrom, .dateTo, .postLocation{ 
    font-size: 20px;
  }
  .postCategory{
    font-size: 40px;
  }
}
@media (max-width: 600px){
  .homePage .post {
    width: 400px;
    max-width: 800px;
    /* min-width: 600px; */
    margin: 20px auto;
    /* background-color: #ffffff; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 15px;
    position: relative;
    left: 0px;
  }
  .notif_events_btn button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    bottom: 145px;
    left: 108px;
  }
  .ta-btn-container button{
    left: 172px;
  }
  .create_event button{
    bottom: 79px;
    left: 235px;
  }
  .eventsSearchBar {
    position: relative;
    right: 80px;
    display: grid;
    width : 280px;
  }
  .postHeader{
    margin-top: -40px;
    margin-bottom: -50px;
    font-size: 20px;
    text-transform: capitalize;
  }
  .post .dateFrom, .dateTo, .postLocation{ 
    font-size: 20px;
  }
  .postTextContainer{
    font-size: 20px;
  }
  .post .postCategory {
    font-size: 20px;
  }
  .postAuthorName{
    font-size: 20px;
  }
  .post .emailText{
    font-size: 20px;
  }
}
@media (max-width:575px){
  .notification-container{
    left: 10%;
  }
}
@media (max-width: 475px){
  .homePage .post {
    width: 300px;
    max-width: 800px;
    /* min-width: 600px; */
    margin: 20px auto;
    /* background-color: #ffffff; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 15px;
    position: relative;
    left: 0px;
  }
  .notification-container{
    left: 10%;
    width: 300px;
  }
  .notif_events_btn button{
    bottom: 145px;
    left: 50px;
  }
  .ta-btn-container button{
    left: 115px;
  }
  .create_event button{
    bottom: 78px;
    left: 180px;
  }
  .eventsSearchBar {
    position: relative;
    right: 90px;
    display: grid;
    width : 200px;
  }
  .postHeader{
    margin-top: -40px;
    margin-bottom: -50px;
    font-size: 20px;
    text-transform: capitalize;
  }
  .post .dateFrom, .dateTo, .postLocation{ 
    font-size: 20px;
  }
  .postTextContainer{
    font-size: 20px;
  }
  .post .postCategory {
    font-size: 20px;
  }
  .postAuthorName{
    font-size: 20px;
  }
  .post .emailText{
    font-size: 20px;
  }
}
@media (max-width:401px){
  .homePage .post {
    width: 300px;
    max-width: 800px;
    left: 0px;
  }
  .notif_events_btn button{
    bottom: 145px;
    left: 45px;
  }
  .ta-btn-container button{
    left: 105px;
  }
  .create_event button{
    bottom: 80px;
    left: 165px;
  }
  .eventsSearchBar {
    position: relative;
    right: 90px;
    display: grid;
    width : 200px;
  }
  .postHeader{
    margin-top: -40px;
    margin-bottom: -50px;
    font-size: 20px;
    text-transform: capitalize;
  }
  .post .dateFrom, .dateTo, .postLocation{ 
    font-size: 20px;
  }
  .postTextContainer{
    font-size: 20px;
  }
  .post .postCategory {
    font-size: 20px;
  }
  .postAuthorName{
    font-size: 20px;
  }
  .post .emailText{
    font-size: 20px;
  }
}