.event-analytics-container {
  margin-top: 20px;
  text-align: center;
  width: 6%; /* Ensure the container spans the full width */
  position: absolute;
  left: 15%;
  z-index: 99; /* Ensure the container is above other elements */
}
.event-analytics-container .event-analytics{
  position: relative;
  left: 500px;
}
/* Adjust the position and width of the search input */
.event-analytics input[type="text"] {
  width: 20%; /* Take up full width */
  margin-bottom: 10px; /* Add some space below the input */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.ta-btn-container button{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: relative;
  left: 675%;
  top: -10px;
}
.toggle-analytics-button {
  background-color: #29ada0;
  color: white;
  /* width: 120px;
  height: 40px; */
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-size: large;
  cursor: pointer;
  /* left: 51%;
  top: 26px; */
  justify-content: center;
  padding: 10px;
}

.toggle-analytics-button:hover {
  background-color: #2980b9;
}

.event-analytics {
  margin-top: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow-y: auto; /* Make it scrollable */
  max-height: 800px; /* Limit height and add scrollbar if necessary */
  left: 10%; /* Center the container */
  width: 500px;
  height: 400px;
}

.AnalyticsSearchBar {
  position: relative;
  bottom: 80px;
  width: 100%; /* Make it take full width of the parent container */
  padding-bottom: 30px;
  z-index: 1000;
}

.AnalyticsSearchBar input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.event-analytics p{
  position: relative;
  bottom: 250px;
  font-size: 30px;
  margin-bottom: -100px;
}
.event-analytics-item {
  /* margin-bottom: 2px; */
  position: relative;
}

.event-analytics-item h5 {
  position: relative;
  bottom: 180px;
}

.event-analytics-item button {
  position: relative;
  right: 57px;
  bottom: 150px;
  background-color: #27ae60;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
}

.event-analytics-item button:hover {
  background-color: #219653;
}

.rsvp-users-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.rsvp-users-container h2 {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

.rsvp-users-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.rsvp-users-container li {
  margin-bottom: 5px;
  font-size: 16px;
}

.rsvp-users-container button {
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
}

.rsvp-users-container button:hover {
  background-color: #c0392b;
}
@media screen and (min-width: 1201px) and (max-width: 1300px){
  .ta-btn-container button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    left: 865%;
    top: -10px;
  }
}
@media screen and (min-width: 1101px) and (max-width: 1200px){
  .ta-btn-container button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    left: 885%;
    top: -10px;
  }
  .event-analytics-container .event-analytics{
    position: relative;
    left: 500px;
    width: 400px;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1100px){
  .ta-btn-container button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    left: 850%;
    top: -10px;
  }
  .event-analytics-container .event-analytics{
    position: relative;
    left: 500px;
    width: 330px;
  }
}
@media screen and (min-width: 900px) and (max-width: 999px){
  .ta-btn-container button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    left: 870%;
    top: -11px;
  }
  .event-analytics-container .event-analytics{
    position: relative;
    left: 440px;
    width: 330px;
  }
}
@media screen and (min-width: 800px) and (max-width: 899px){
  .ta-btn-container button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    left: 460px;
    top: -11px;
  }
  .event-analytics-container .event-analytics{
    position: relative;
    left: 420px;
    width: 300px;
  }
}
@media screen and (min-width: 700px) and (max-width: 799px){
  .ta-btn-container button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    left: 785%;
    top: -11px;
  }
}
@media screen and (min-width: 400px) and (max-width: 499px){
  .ta-btn-container button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    left: 550%;
    top: -11px;
  }
}
@media screen and (min-width: 300px) and (max-width: 399px){
  .ta-btn-container button{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: relative;
    left: 250px;
    top: -11px;
  }
  .event-analytics-container .event-analytics{
    position: relative;
    left: 170px;
    width: 330px;
  }
}