.thoughtsBtn {
  position: absolute;
  top: 1%;
  left: 50%;
  z-index: 9999; /* Set a higher z-index value */
}

.backHomebtn {
  position: absolute;
  top: 1%;
  right: 50%;
  z-index: 9999; /* Set a higher z-index value */
}

.events {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 47%;
  margin-top: 220px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 55px;
  color: black;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  height: 90%; /* Adjust as needed */
  width: 100%;
  padding: 20px; /* Add padding for spacing between events */
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 90vh; /* Limit the maximum height */
  padding-bottom: 200px;
}


/* Add this style to your existing CSS file or create a new one */
.hp-reg-btn{
  display: inline-block;
  padding: 10px 20px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #57d7a5;
  color: #fff;
  background-color: #82e7c0;
  border-radius: 50px;
  transition: background-color 0.3s ease, color 0.3s ease;
  left: 30%;
  position: relative;
}

.ad__details {
  padding-top: 10px;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: italic;
  left: 39%;
  position: relative;
}