.int-interest-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 50vw;
  background-color: #fea059;
}

.int-interest-btn {
  position: absolute;
  flex-wrap: wrap;
  padding: 20px;
  display: flex;
  background-color: #29ada0;
  order: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50vw;
  right: 0px;
}

.int-interest-btn h1 {
  position: absolute;
  top: 5%;
  left: 15%;
}

.int-interest-btn .int-btn-container {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: -5px;
}

.int-interest-btn .int-btn-container button {
  display: flex; /* Changed from block to flex */
  justify-content: center; /* Centers content horizontally */
  align-items: center; /* Centers content vertically */
  padding: 0; /* Remove or adjust padding as needed */
  width: 150px;
  height: 50px;
  margin-left: 10px;
  border: 3px solid black;
  border-radius: 100px;
  font-size: 20px;
  color: white;
  margin-right: 105px;
  background-color: #FFA07A; /* Default orange background */
  transition: background-color 0.3s, background-image 0.3s;
}

.int-interest-btn .int-btn-container .int-btn-1 button.active { 
  background-image: url('../images/programming.png');
  background-size: cover;
  background-position:center;
  transition: 1500ms;
  color: white;
  text-shadow: black 2px 2px; 
}
.int-interest-btn .int-btn-container .int-btn-2 button.active { 
  background-image: url('../images/art-bg.jpg');
  background-size: cover;
  background-position:center;
  transition: 1500ms;
  text-shadow: black 2px 2px;
}
.int-interest-btn .int-btn-container .int-btn-3 button.active { 
  background-image: url('../images/lib.jpg');
  background-size: cover;
  background-position:center;
  transition: 1500ms;
  text-shadow: black 2px 2px;
}
.int-interest-btn .int-btn-container .int-btn-4 button.active { 
  background-image: url('../images/business.jpg'); 
  background-size: cover;
  background-position:center;
  transition: 1500ms;
  color: rgb(34, 162, 221);
  font-weight: bold;
  text-shadow: black 2px 2px;
}
.int-interest-btn .int-btn-container .int-btn-5 button.active { 
  background-image: url('../images/sci.jpg');
  background-size: cover;
  background-position:center;
  transition: 1500ms;
  text-shadow: black 2px 2px;
}
.int-interest-btn .int-btn-container .int-btn-6 button.active { 
  background-image: url('../images/num1.jpg');
  background-size: cover;
  background-position:center;
  transition: 1500ms;
  color: yellow;
  font-weight: bold;
  text-shadow: black 2px 2px;
}
.int-interest-btn .int-btn-container .int-btn-7 button.active { 
  background-image: url('../images/game.jpg');
  background-size: cover;
  background-position:center;
  transition: 1500ms;
  color: rgb(250, 192, 202);
  text-shadow: black 2px 2px;
}
.int-interest-btn .int-btn-container .int-btn-8 button.active { 
  background-image: url('../images/other.jpeg');
  background-size: cover;
  background-position:center;
  transition: 1500ms;
  color: goldenrod;
  font-weight: bold;
  text-shadow: black 2px 2px;
}

.int-interest-btn .int-btn-container button:hover {
  box-shadow: 0 0 50px white;
}

.int-interest-container .int-logo {
  position: absolute;
  left: 15%;
  top: 30%;
}
.int-go-to-login button{
  position: fixed;
  bottom: 2%;
  left: 83%;
  padding: 20px;
  height: 60px; /* Adjusted for better vertical spacing */
  width: 100px;
  text-align: center; /* Centers text horizontally */
  line-height: 20px; /* Adjust line height for vertical centering */
  color: white; /* Optional: Set your text color */
  font-size: 16px; /* Optional: Adjust text size */
  cursor: pointer;
  border-radius: 100px;
  border: 3px solid black;
  background-color: #FFA07A;
}
.int-go-to-signup button{
  position: fixed;
  bottom: 2%;
  left: 46%;
  padding: 20px;
  height: 60px; /* Adjusted for better vertical spacing */
  width: 100px;
  text-align: center; /* Centers text horizontally */
  line-height: 20px; /* Adjust line height for vertical centering */
  color: white; /* Optional: Set your text color */
  font-size: 16px; /* Optional: Adjust text size */
  cursor: pointer;
  border-radius: 100px;
  border: 3px solid black;
  background-color: #FFA07A;;
}