@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body, html {
  overflow: hidden;
}

.landing-page {
  position: relative; /* Ensures that the wrapper is positioned relative to the section */
}

.wrapper {
  position: relative; /* Required for absolute positioning of the 'hello' tag */
}

.wrapper img {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  /* filter: blur(5px); */
}
.wrapper .logo img{
  position: absolute;
  top: 35px;  
  left: 65px;
  width: 95px;
  height: 95px;
  filter: none;
  /* -webkit-animation: spin 5s linear infinite;
  -moz-animation: spin 3s linear infinite;
  animation: spin 6s linear infinite; */
}
/* @-webkit-keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
}
@keyframes spin{
  100%{-webkit-transform: rotate(360deg);}
} */
.wrapper .video img{
  position: absolute;
  top:525px;
  padding: 40px 40px;
  left: 550px;
  width: 200px;
  height: 200px;
  filter: none;
  border: 3px solid white;
  background-position: center;
  background-size: cover;
}
.wrapper .wb img{
  position: absolute;
  top:525px;
  padding: 40px 40px;
  left: 900px;
  width: 200px;
  height: 200px;
  filter: none;
  border: 3px solid white;
}
.wrapper .teams img{
  position: absolute;
  top:525px;
  padding: 40px 40px;
  left: 1250px;
  width: 200px;
  height: 200px;
  filter: none;
  border: 3px solid white;
}
.wrapper .header {
  font-weight: bold;
  position: absolute;
  font-family: 'Kanit', sans-serif;   
  top: 27%; /* Adjust the top position as needed */
  left: 50%; /* Adjust the left position as needed */
  transform: translate(-50%, -50%); /* Center the 'hello' tag */
  font-size: 100px; /* Set the font size as needed */
  color: rgb(253, 254, 255); /* Set the text color */
  /* Add additional styling properties as needed */
}
.wrapper .slogan{
  font-weight: bold;
  position: absolute;
  font-family: 'Kanit', sans-serif; 
  font-style: italic;  
  top: 34%; /* Adjust the top position as needed */
  left: 50%; /* Adjust the left position as needed */
  transform: translate(-50%, -50%); /* Center the 'hello' tag */
  font-size: 30px; /* Set the font size as needed */
  color: rgb(249, 249, 249); /* Set the text color */
  /* Add additional styling properties as needed */
}
.wrapper .desc{
  font-weight: bold;
  position: absolute;
  font-family: 'Kanit', sans-serif; 
  font-style: italic;  
  top: 38%; /* Adjust the top position as needed */
  left: 50%; /* Adjust the left position as needed */
  transform: translate(-50%, -50%); /* Center the 'hello' tag */
  font-size: 20px; /* Set the font size as needed */
  color: rgb(249, 249, 249); /* Set the text color */
  /* Add additional styling properties as needed */
}
.wrapper .register{
  top: 5.5%; /* Adjust the top position as needed */
  left: 84%; /* Adjust the left position as needed */
  padding: 14px 28px;
  font-weight: bold;
  position: absolute;
  font-family: sans-serif; 
  text-transform: uppercase;
  border: 1px solid  rgba(109, 64, 2, 0);
  border-radius: 5px;
  background-color:inherit;
  transform: translate(-50%, -50%); /* Center the 'hello' tag */
  font-size: 1.2rem; /* Set the font size as needed */
  color: white; /* Set the text color */
  font-weight: 600;
  /* Add additional styling properties as needed */
}
.wrapper .login{
  top: 5.5%; /* Adjust the top position as needed */
  left: 92%; /* Adjust the left position as needed */
  padding: 14px 28px;
  font-weight: bold;
  position: absolute;
  font-family: sans-serif; 
  text-transform: uppercase;
  background-color: inherit;
  border: 1px solid  rgba(109, 64, 2, 0);
  border-radius: 4px;
  transform: translate(-50%, -50%); /* Center the 'hello' tag */
  font-size: 1.2rem; /* Set the font size as needed */
  color: white; /* Set the text color */
  font-weight: 600;
  /* Add additional styling properties as needed */
}
.wrapper button:hover{
  background-color: rgb(101, 58, 34);
  color: rgb(255, 255, 255);
}