.login-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #fea059;
}



.l-form-container {
  flex: 2;
  padding: 20px;
  background-color: #29ada0;
  border-radius: 5px;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.l-form-container h3 {
  margin-bottom: 15px;
}

.l-form-container input,
.l-form-container select {
  width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 20px;
}
.l-form-container button{
  width: 10%;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 20px;
}
.login_button {
  background-color: #ffa07a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.login_button:hover {
  background-color: #0056b3;
}
.login-container .l-image-container img{
  right: 200px;
}

.l-image-container{
  flex: 2;
}
.l-image-container img{
  position: absolute;
  left: 15%;
  top: 30%;
}
.link-to-signin{
  color: black;
  font-weight: bold;
}
