/* labs.css */
.Meditation1PageWithNavBar {
    display: flex;
  }
.Meditation1Page{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 200px;  
}
/* .Meditation1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .Page {
    margin-top: 50px;
    margin-left: 20px; 
  }
   */
  .emotion-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .emotion-box {
    width: 120px;
    height: 120px;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .emotion-box:hover {
    background-color: #e0e0e0;
  }
  
  .emotion-title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .emotion-description {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
    text-align: center;
  }
  
  /* meditation1.css */
  .content-tiles {
    display: flex;
    flex-wrap: wrap;
    color: black;
    
  }
  
  .content-tile {
    flex: 0 0 calc(33.33% - 20px); /* Adjust the width as needed */
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    color: black;
  }
  
  .content-description {
    margin-top: 5px;
  }

  
  
 
  
  .meditationPlayerPage {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Set the minimum height to 100% of viewport height */
    background-size: cover; /* Ensure background image covers the entire container */
    background-position: center; /* Center the background image */
  }

  .meditationPlayerTitle{
    font-family: Arial, sans-serif;
    margin-top: -340px; 
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
    position: fixed;
  }

  .meditationPlayerQuote {
    margin-left: 200px;  
    margin-top: -150px;
    font-size: 30px; /* Adjust the font size as needed */
    font-family: Arial, sans-serif; /* Choose the appropriate font family */
    font-weight: normal; /* Adjust the font weight as needed */
    color: white;
    width: 70%;
    position: fixed;
    /* font-style: italic; */
  }
  
  .meditationPlayerPage button{
    align-self: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    height: 100px;
  }
.buttonContainer{
  margin-bottom: 20px;
}

.playPauseButton {
  margin-top: 250px;
  position: fixed;
  align-self: center;
  /* align-self: center; */
}

.playPauseButton {
  transition: transform 0.3s ease-in-out;
}

.playPauseButton:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
}
