@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body{
  background-color: #dfe8dd;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: #fff;
}

/* Navbar CSS */
.navbar {
  /* background-color: #159386; */
  /* height: 10px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1001;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #000;
}

.nav-menu {
  background-color: #29ada0;
  width: 350px;
  height: 100vh;
  display: flex;
  justify-content: center; 
  position: fixed;
  top: 0;
  left: 0%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 50px;
  margin-top: 20px;
}

.nav-text a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: white;
  font-size: 2em;
}

.nav-menu-items {
  width: 80%;
}

.navbar-toggle {
  /* background-color: #F0F7EE; */
  width: 90%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 40px;
  margin-top: 20px;
}
.navbar-toggle img{
  width: 33%;
}
span {
  margin-left: 16px;
}
.icon-items .icon-wrapper svg {
  fill: white; /* Set the default icon color to black */
  transition: fill 0.2s; /* Add a transition for a smooth color change */
}

.icon-items:hover .icon-wrapper svg {
  fill: black; /* Change the icon color to white when hovering over the whole item */
}

.icon-items:hover span {
  color: black; /* Change the text color to white when hovering over the whole item */
}
.search-bar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem; /* Adjust the margin as needed */
  top: 40px;
  left: 400px;
}
.sign-out-button{
  position: absolute;
  font-size: 25px;
  left: 0vw;
  top: 86%; 
  padding: 5px;
  border-radius: 10px;
  background-color: #29ada0;
  color: white;
  border: none;
  cursor: pointer;
}

.sign-out-button:hover{
  color: black;
  background-color: white;
}
.sign-out-icon svg {
  transition: fill 0.2s; /* Add a transition for a smooth color change */
}

/* .sign-out-icon:hover svg {
  background-color: white;
  fill: black; /* Change the icon color to black when hovering */
/* } */

.sign-out-icon{
  position: absolute;
  left: 5vw;
  top: 90.5%;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
}
.search-input {
  padding: 0.5rem;
  margin-right: 0.5rem; /* Space between the input and the button */
  border: 4px solid  #29ada0;
  border-radius: 20px;
  width: 50vw;
  height: 45px;
}

.search-button {
  padding: 0.5rem 1rem;
  /* background-color: #007bff; Example blue color */
  position: relative;
  border: none;
  right: 60px;
  cursor: pointer;
  size: 10px;
}
.userInfo-round{
  padding: 10px;
}
.nav-logo img{
  position: absolute;
  border-radius: 100%;
  width: 30%;
  left: 100px;
  top: 20px;
  border: 4px solid black;
}
.pfp-logo img{
  width: 30%;
  height: 13%;
  border-radius: 100%;
  position: absolute;
  border: 4px solid black;
  left: 91vw;
  top: 20px;
}
.pfp-logo p{
  position: absolute;
  left: 1750px;
  top: 50px;
}
.prof-name{
  position: absolute;
  left: 77vw;
  padding: 100px;
  font-size: 20px;
  top: -70px;
  color: black;
}
.prof-role{
  position: absolute;
  left: 77vw;
  padding: 100px;
  font-size: 20px;
  top: -35px;
  color: black;
}
.navbar-toggle .prof-notif{
  position: absolute;
  left: 78vw;
  top: 5%;
}
@media screen and (max-width: 768px) {
  .nav-menu {
    width: 250px; /* Adjust the width of the nav menu */
  }

  .nav-text a {
    font-size: 20px; /* Adjust font size for readability */
  }

  .search-bar {
    top: 20px;
    left: 60%;
    transform: translateX(-15%);
    margin-right: 0;
  }

  .search-input {
    width: 80%; /* Adjust the width of the search bar */
    margin-right: 0;
  }

  .pfp-logo img {
    width: 50%; /* Adjust logo size */
    left: 25%; /* Center logos */
  }


  .pfp-logo,
  .prof-name,
  .prof-role {
    left: 50%;
    transform: translateX(-50%); /* Center profile texts and notification */
  }
}

