.reminderstitle {
  display: inline-block;
  width: 100%;
  font-family: "Poppins";
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  margin-top: 2rem;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  color: #646681;
}

.halfreminders {
  width: 30%;
  margin-left: 42%;
  font-family: "Poppins", sans-serif;
}

.maindivreminders {
  background-color: #ecedf6;
  width: 103%;
  height: 90px;
  max-height: 150px;
  overflow-y: scroll;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 12px;
}

.textdivreminders {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9rem;
  margin-bottom: 0.3rem;
  border-radius: 4px;
  word-break: break-all;
  font-weight: 500;
  font-size: 2rem;
  color: #585858;
  background-color: white;
  height: 50px;
}

.emptytextreminders {
  display: flex;
  font-family: "Poppins";
  font-size: 1.4rem;
  font-weight: 500;
  color: #585858;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 4;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #dedfe1;
  width: max-content;
  height: auto;
}

.refbuttonreminders {
  margin-top: 0;
  width: 22.5%;
  margin-left: 3%;
  margin-bottom: 2%;
  color: white;
  display: inline-block;
  height: auto;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  overflow: hidden;
  background-color: #29ada0;
}

.donereminders {
  /* height: 50px; */
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 6%;
}

@media (min-height: 653px) and (min-width: 280px) {
  .halfreminders {
    width: 70%;
    margin-left: 10%;
  }

  .reminderstitle {
    font-size: 2.5rem;
    margin-bottom: 2%;
  }

  .refbuttonreminders {
    width: 75%;
  }
}

@media (min-height: 667px) and (min-width: 375px) {
  .halfreminders {
    width: 60%;
    margin-left: 10%;
  }

  .reminderstitle {
    font-size: 2rem;
    margin-left: 15%;
  }

  .refbuttonreminders {
    width: 65%;
  }
}

@media (min-height: 720px) and (min-width: 540px) {
  .halfreminders {
    width: 60%;
    margin-left: 12%;
  }

  .reminderstitle {
    font-size: 2rem;
    margin-left: 15%;
  }

  .refbuttonreminders {
    width: 45%;
  }
}

@media (min-height: 896px) and (min-width: 414px) {
  .halfreminders {
    width: 60%;
    margin-left: 11%;
  }

  .reminderstitle {
    font-size: 2.5rem;
  }

  .refbuttonreminders {
    width: 65%;
  }
}

@media (min-height: 915px) and (min-width: 412px) {
  .halfreminders {
    width: 60%;
    margin-left: 13%;
  }

  .reminderstitle {
    font-size: 2.5rem;
  }

  .refbuttonreminders {
    width: 65%;
  }
}

@media (min-height: 932px) and (min-width: 430px) {
  .halfreminders {
    width: 60%;
    margin-left: 12%;
  }

  .reminderstitle {
    font-size: 2.5rem;
  }

  .refbuttonreminders {
    width: 65%;
  }
}

@media (min-height: 740px) and (min-width: 360px) {
  .halfreminders {
    width: 60%;
    margin-left: 12%;
  }

  .reminderstitle {
    font-size: 2rem;
    margin-left: 15%;
  }

  .refbuttonreminders {
    width: 65%;
  }
}

@media (min-height: 1024px) and (min-width: 768px) {
  .halfreminders {
    width: 60%;
    margin-left: 15%;
  }

  .reminderstitle {
    font-size: 3.5rem;
    margin-left: 10%;
  }

  .refbuttonreminders {
    width: 35%;
  }
}

@media (min-height: 1366px) and (min-width: 1024px) {
  .halfreminders {
    width: 60%;
    margin-left: 15%;
  }

  .reminderstitle {
    font-size: 3rem;
  }

  .refbuttonreminders {
    width: 30%;
  }
}

@media (min-height: 600px) and (min-width: 1024px) {
  .halfreminders {
    width: 60%;
    margin-left: 16%;
  }

  .reminderstitle {
    font-size: 3.5rem;
    margin-bottom: 0rem;
  }

  .refbuttonreminders {
    width: 25%;
  }
}

@media (min-width: 1300px) and (max-width: 1500px) {
  .reminderstitle {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  .halfreminders {
    width: 26%;
    margin-left: 42%;
  }

  .refbuttonreminders {
    width: 42%;
  }
}

@media (min-width: 1501px) and (max-width: 1700px) {
  .reminderstitle {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }

  .halfreminders {
    width: 26%;
    margin-left: 42%;
  }

  .refbuttonreminders {
    width: 38%;
  }
}

@media (min-width: 1701px) and (max-width: 2000px) {
  .reminderstitle {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-left: 7%;
  }

  .halfreminders {
    width: 27%;
    margin-left: 42%;
  }

  .refbuttonreminders {
    width: 30%;
  }
}

@media (min-width: 2001px) and (max-width: 2500px) {
  .reminderstitle {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-left: 7%;
  }

  .halfreminders {
    width: 27%;
    margin-left: 42%;
  }

  .refbuttonreminders {
    width: 30%;
  }
}