.main-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #fea059;
}



.form-container {
  flex: 2;
  padding: 20px;
  background-color:  #29ada0;
  border-radius: 5px;
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container h3 {
  margin-bottom: 5px;
}

.form-container input,
.form-container select{
  width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 20px;
}
.form-container button{
  width: 10%;
  border: 2px solid #ccc;
  border-radius: 20px;
}
.form-container label {
  margin-right: 10px;
}

.form-container .gender {
  margin-bottom: 10px;
}

.form-container .gender label {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}

.form-container .gender input {
  margin-right: 5px;
}

.form-container .role {
  margin-bottom: 10px;
  width: 100%;
  margin-left: 275px;
}

.signup_button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.signup_button:hover {
  background-color: #0056b3;
}
.main-container .image-container img{
  right: 200px;
}

.image-container{
  flex: 2;
}
.image-container img{
  position: absolute;
  margin-right: 1200px;
  top: 350px;
}
.link-to-login {
  font-weight: bold;
  color: black;
  text-decoration: underline;
  margin-bottom: 12px;
}