.up-user-profile-container {
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: center;
  padding: 20px;
}

.up-profile-pic {
  position: absolute;
  left: 5%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.user-profile-container h2{
  position: fixed;
  top: 49%;
  left: 52.5%;
  font-size: 40px;
}
/* .user-profile-container p{
  position: absolute;
  left: 10%;
  font-size: 20px;
} */
.user-profile-container img{
  border: 5px solid black;
}
.up-edit-name{
  position: fixed;
  top: 54vh;
  right: 44vw;
}
.up-edit-name button{
  width: 7vw;
  height: 7vh;
  font-size: 14px;
}
.up-file{
  position: fixed;
  top: 69.5vh;
  left: 58vw;
  width: 10vw;
}
.up-update-img{
  position: fixed;
  top: 63vh;
  right: 44vw;
}
.up-update-img button{
  width: 7vw;
  height: 7vh;
  font-size: 10px;
}
.up-file-inp-boxes{
  position: fixed;
  top: 75vh;
  left: 70vw;
}
.up-name{
  position: fixed;
  top: 58.3vh;
  left: 58vw;
}
.up-save{
  position: fixed;
  top: 77vh;
  left: 43vw;
  width: 20vw;
}
.up-roles{
  position: fixed;
  top: 75%;
  left: 57.99%;

}