.up-user-profile-container {
  position: relative;
  top: 20%;
  right: 5%;
  text-align: center;
  padding: 40px;
}

.up-profile-pic {
  position: relative;
  left: 0%;
  top: -25%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  border: 5px solid #fea059;
}
.up-currentname{
  position: absolute;
  left: 58vw;
  top: 10vh;
  font-size: 20px;
  margin-bottom: 20px;

}
.up-currentrole{  
  position: absolute;
  left: 2vw;
  top: 30vh;
  font-size: 15px;
  margin-bottom: 20px;

}
/* .user-profile-container h2{
  position: fixed;
  top: 49%;
  left: 52.5%;
  font-size: 40px;
} */
/* .user-profile-container p{
  position: absolute;
  left: 10%;
  font-size: 20px;
} */
/* .user-profile-container img{
  border: 5px solid black;
} */
.up-edit-name{
  position: fixed;
  top: 40vh;
  left: 34.2vw;
}
.up-edit-name button{
  width: 8vw;
  height: 8vh;
  font-size: 14px;
}
.up-file{
  position: fixed;
  top: 65.5vh;
  left: 58vw;
  width: 10vw;
}
.up-edit-role{
  position: fixed;
  top: 61vh;
  left: 34.2vw;
}
.up-edit-role button{
  width: 8vw;
  height: 8vh;
  font-size: 14px;
}
.up-update-img{
  position: fixed;
  top: 50vh;
  left: 34.2vw;
}
.up-update-img button{
  width: 8vw;
  height: 8vh;
  font-size: 12px;
}
.up-file-inp-boxes{
  position: fixed;
  top: 75vh;
  left: 75vw;
}
.up-name1{
  position: relative;
  top: 1vh;
  left: 12vw;
}
.up_name2{
  position: relative;
  top: -5.5vh;
  left: 12vw;
}
.up-save{
  position: relative;
  top: 77vh;
  left: 43vw;
  width: 20vw;
}
.up-roles{
  position: relative;
  top: 6vh;
  left: 9.3vw;
}
.up-file{
  top: 55.8vh;
  left: 51.5vw;
}
.up_del_acc{
  position: relative;
  top: 10vh;
  left: 4vw;
}
.up_delete_acc_btn {
  position: relative;
  font-size: 20px;
  background-color: rgba(255, 0, 0, 0.522);
  color: white;
  /* border: solid 2px black; */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.up_delete_acc_btn:hover {
  background-color: rgba(255, 0, 0, 0.805);
}
