.up-user-profile-container {
  position: absolute;
  top: 20%;
  left: 50%;
  text-align: center;
  padding: 20px;
}

.up-profile-pic {
  position: absolute;
  left: 10%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.up-user-profile-container h2{
  position: absolute;
  left: 6%;
  top: 80%;
  font-size: 40px;
}
.user-profile-container p{
  font-size: 60px;
}
.up-user-profile-container img{
  border: 5px solid black;
}