.content-containerZenSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.titleZenSpace {
    font-size: 28px;
    margin-bottom: 20px;
}

.NavbarZenSpaceContainer {
    position: fixed;
}

.boxes-containerZenSpace {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.boxZenSpace {
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: #29ada0;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.boxZenSpace:hover {
    background-color: #2ebbad;
}

.boxZenSpace h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}

.box-iconZen {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}



.content-containerZenSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.titleZenSpace {
    font-size: 28px;
    margin-bottom: 20px;
}

.NavbarZenSpaceContainer {
    position: fixed;
}

.boxes-containerZenSpace {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.boxZenSpace {
    width: 300px;
    height: 300px;
    margin: 20px;
    background-color: #29ada0;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}

.boxZenSpace:hover {
    background-color: #2ebbad;
}

.boxZenSpace h2 {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}

.box-iconZen {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}



@media (min-height: 653px) and (min-width: 280px) {
    .content-containerZenSpace {
        margin-top: 5%;
        margin-left: 5%;
    }

    .boxZenSpace {
        width: 150px;
        height: 150px;
        flex-direction: column;
    }

    .boxes-containerZenSpace {
        flex-direction: column;
        gap: 0px;
    }

    .titleZenSpace {
        margin-bottom: 15px;
        margin-left: 10px;
    }
}

@media (min-height: 667px) and (min-width: 375px) {
    .content-containerZenSpace {
        margin-top: 0;
        margin-left: -2%;
    }

    .boxZenSpace {
        width: 150px;
        height: 150px;
        flex-direction: column;
    }

    .boxes-containerZenSpace {
        flex-direction: column;
        gap: 0px;
    }

    .titleZenSpace {
        margin-bottom: 15px;
        margin-left: 30px;
    }
}

@media (min-height: 896px) and (min-width: 414px) {
    .content-containerZenSpace {
        margin-top: -5%;
        margin-left: -4%;
    }

    .boxZenSpace {
        width: 200px;
        height: 200px;
        flex-direction: column;
    }

    .boxes-containerZenSpace {
        flex-direction: column;
        gap: 0px;
    }

    .titleZenSpace {
        font-size: 28px;
        margin-bottom: 15px;
        /* margin-left: 30px; */
    }
}

@media (min-height: 915px) and (min-width: 412px) {
    .content-containerZenSpace {
        margin-top: -5%;
        margin-left: -4%;
    }

    .boxZenSpace {
        width: 200px;
        height: 200px;
        flex-direction: column;
    }

    .boxes-containerZenSpace {
        flex-direction: column;
        gap: 0px;
    }

    .titleZenSpace {
        font-size: 28px;
        margin-bottom: 15px;
    }
}

@media (min-height: 1024px) and (min-width: 768px) {
    .content-containerZenSpace {
        margin-top: -5%;
        margin-left: 0;
    }

    .boxZenSpace {
        width: 250px;
        height: 250px;
        flex-direction: column;
    }

    .boxes-containerZenSpace {
        flex-direction: row;
        gap: 0px;
    }

    .titleZenSpace {
        font-size: 28px;
        margin-bottom: 15px;
        /* margin-left: 30px; */
    }
}

@media (min-height: 1366px) and (min-width: 1024px) {
    .content-containerZenSpace {
        margin-top: -5%;
        margin-left: 0;
    }

    .boxZenSpace {
        width: 350px;
        height: 350px;
        flex-direction: column;
    }

    .boxes-containerZenSpace {
        flex-direction: row;
        gap: 0px;
    }

    .titleZenSpace {
        font-size: 28px;
        margin-bottom: 15px;
        /* margin-left: 30px; */
    }
}

@media (min-height: 600px) and (min-width: 1024px) {
    .content-containerZenSpace {
        margin-top: 0;
        margin-left: 0;
    }

    .boxZenSpace {
        width: 250px;
        height: 250px;
        flex-direction: column;
    }

    .boxes-containerZenSpace {
        flex-direction: row;
        gap: 0px;
    }

    .titleZenSpace {
        font-size: 28px;
        margin-bottom: 15px;
        /* margin-left: 30px; */
    }
}

@media (min-width: 1300px) and (max-width: 1500px) {
    .content-containerZenSpace {
        margin-top: -5%;
        margin-left: 25%;
    }

    .titleZenSpace {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .boxes-containerZenSpace {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .boxZenSpace {
        width: 300px;
        height: 300px;
        margin: 20px;
    }
}

@media (min-width: 1501px) and (max-width: 1700px) {
    .content-containerZenSpace {
        margin-top: -5%;
        margin-left: 25%;
    }

    .titleZenSpace {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .boxes-containerZenSpace {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .boxZenSpace {
        width: 300px;
        height: 300px;
        margin: 20px;
    }
}

@media (min-width: 1701px) and (max-width: 2000px) {
    .content-containerZenSpace {
        margin-top: -5%;
        margin-left: 20%;
    }

    .titleZenSpace {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .boxes-containerZenSpace {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .boxZenSpace {
        width: 300px;
        height: 300px;
        margin: 20px;
    }
}

@media (min-width: 2001px) and (max-width: 2500px) {
    .content-containerZenSpace {
        margin-top: -5%;
        margin-left: 15%;
    }

    .titleZenSpace {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .boxes-containerZenSpace {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .boxZenSpace {
        width: 300px;
        height: 300px;
        margin: 20px;
    }
}