.content-containerZenSpace {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Set the height to 100% of the viewport height */
    margin-top: -35%;
    margin-left: 25%;
}

.title {
    font-size: 28px;
    margin-bottom: 20px;
    /* Add spacing between the title and boxes */
}

.NavbarZenSpaceContainer {
    position: fixed;
}

.boxes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.boxZenSpace {
    width: 300px;
    /* Adjust the width of the boxes as needed */
    height: 300px;
    /* Adjust the height of the boxes as needed */
    margin: 20px;
    /* Add margin between the boxes */
    background-color: #29ada0;
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* Align content vertically */
    justify-content: center;
    /* Center content vertically */
    align-items: center;
    /* Center content horizontally */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Add a shadow to the boxes */
}

.boxZenSpace:hover {
    background-color: #2ebbad;
    /* Change the background color on hover */
}

.boxZenSpace h2 {
    font-size: 24px;
    color: white;
    /* Set the color of the text */
}

.box-icon {
    width: 80px;
    /* Adjust the width of the images */
    height: auto;
    /* Maintain aspect ratio */
    margin-bottom: 10px;
    /* Add spacing between the image and text */
}

@media (min-height: 653px) and (min-width: 280px) {
    .content-containerZenSpace {
        margin-top: 5%;
        margin-left: 5%;
    }

    .boxZenSpace {
        width: 150px;
        height: 150px;
        flex-direction: column;
    }

    .boxes-container {
        flex-direction: column;
        gap: 0px;
    }

    .title {
        margin-bottom: 15px;
        margin-left: 10px;
    }
}

@media (min-height: 667px) and (min-width: 375px) {
    .content-containerZenSpace {
        margin-top: 4%;
        margin-left: 4%;
    }

    .boxZenSpace {
        width: 150px;
        height: 150px;
        flex-direction: column;
    }

    .boxes-container {
        flex-direction: column;
        gap: 0px;
    }

    .title {
        margin-bottom: 15px;
        margin-left: 30px;
    }
}

@media (min-height: 896px) and (min-width: 414px) {
    .content-containerZenSpace {
        margin-top: -5%;
        margin-left: -4%;
    }

    .boxZenSpace {
        width: 200px;
        height: 200px;
        flex-direction: column;
    }

    .boxes-container {
        flex-direction: column;
        gap: 0px;
    }

    .title {
        font-size: 28px;
        margin-bottom: 15px;
        /* margin-left: 30px; */
    }
}

@media (min-height: 915px) and (min-width: 412px) {
    .content-containerZenSpace {
        margin-top: -5%;
        margin-left: -4%;
    }

    .boxZenSpace {
        width: 200px;
        height: 200px;
        flex-direction: column;
    }

    .boxes-container {
        flex-direction: column;
        gap: 0px;
    }

    .title {
        font-size: 28px;
        margin-bottom: 15px;
    }
}

@media (min-height: 1024px) and (min-width: 768px) {
    .content-containerZenSpace {
        margin-top: -5%;
        margin-left: 0;
    }

    .boxZenSpace {
        width: 250px;
        height: 250px;
        flex-direction: column;
    }

    .boxes-container {
        flex-direction: row;
        gap: 0px;
    }

    .title {
        font-size: 28px;
        margin-bottom: 15px;
        /* margin-left: 30px; */
    }
}

@media (min-height: 1366px) and (min-width: 1024px) {
    .content-containerZenSpace {
        margin-top: -5%;
        margin-left: 0;
    }

    .boxZenSpace {
        width: 350px;
        height: 350px;
        flex-direction: column;
    }

    .boxes-container {
        flex-direction: row;
        gap: 0px;
    }

    .title {
        font-size: 28px;
        margin-bottom: 15px;
        /* margin-left: 30px; */
    }
}

@media (min-height: 600px) and (min-width: 1024px) {
    .content-containerZenSpace {
        margin-top: 0;
        margin-left: 0;
    }

    .boxZenSpace {
        width: 250px;
        height: 250px;
        flex-direction: column;
    }

    .boxes-container {
        flex-direction: row;
        gap: 0px;
    }

    .title {
        font-size: 28px;
        margin-bottom: 15px;
        /* margin-left: 30px; */
    }
}

@media (min-width: 1300px) {
    .content-containerZenSpace {
        margin-top: -40%;
        margin-left: 25%;
    }

    .title {
        font-size: 28px;
        margin-bottom: 20px;
    }

    .boxes-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .boxZenSpace {
        width: 300px;
        height: 300px;
        margin: 20px;
    }
}