/* App.css */

.App {
    width: 100%;
    display:flex;
    min-height:50vh ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
  }
  
  .App input {
    margin-bottom: 20px;
  }

  .App span{
    font-size:16px;
  }
  
  .App button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
  }
  
  .App button:hover {
    background-color: #45a049;
  }
  
  .folder-list {
    margin-top: 20px;
    padding: 0;
  }
  
  .folder-list li {
    list-style-type: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .folder-icon {
    width: 24px;
    height: 24px;
    background-color: #2196f3;
    border-radius: 4px;
    margin-right: 10px;
  }
  
  .folder-name {
    color: #2196f3;
    cursor: pointer;
  }
  
  .folder-name:hover {
    text-decoration: underline;
  }
  
  .file-table {
    width: 60%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .file-table th,
  .file-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .file-table th {
    background-color: #4caf50;
    color: white;
  }
  
  .file-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .file-table tr:hover {
    background-color: #e0e0e0;
  }
  
  .folder-container {
    margin-top: 20px;
  }
  
  .folder-tiles {
    display: flex;

  }
  
  .folder-tile {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    width: 150px; /* Fixed width */
    height: 100px; /* Fixed height */
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
  }
  
  .folder-tile:hover {
    background-color: #f0f0f0;
  }
  
  .folder-tile .ffolder {
    margin-right: 5px;
  }
  
  /* New styles for file tiles and file icon placeholder */
  .file-container {
    margin-top: 20px;
  }
  
  .file-tiles {
    display: flex;

  }
  
  .file-tile {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    width: 150px; /* Fixed width */
    height: 100px; /* Fixed height */
    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
  }
  
  .file-tile:hover {
    background-color: #f0f0f0;
  }
  .fi-fi-file{
    font-size: 15px;
  }
  .file-icon {
    width: 20px;
    height: 20px;
    background-color: black; /* Black rectangle to represent file */
    border-radius: 4px;
    margin-right: 10px;
  }
  