.lab-navbar {
    border-radius: 8px;
    height: 50vh;
    margin:10px;
    width: 225px;
    color: white;
    margin-top:20px;
    background-color: #6F898A;
    display:flex;
  }
  .lab-navbarText {
    margin-top: 70px;
    padding: 20px;
    color: white;
  }
  /*new comment*/
  
  .lab-navbar ul {
    list-style-type: none;
    padding: 20px 10px;
    width: 100%;
  }
  
  .lab-navbar li {
    align-items: space-evenly;
    font-size: 16px;
    padding:6px;
    border-radius: 3px;
    margin: 10px 0;
    color: white;
  }

  .lab-navbar a {
    text-decoration: none;
    color: black;
  }

  .lab-navbar li:hover { 
    background-color: #FD9752 ;/* Your desired hover color */
  }
  
  /* Active state */
  .lab-navbar a.active li { 

    background-color: #FF7A69;/* Your desired active color */
  }

  .lab-menu-icon img{
    max-width: 50px;
    width: 10vw;
  }

  
  @media screen and (max-width: 940px) {
    .lab-navbar{
        display:none;
        position: fixed; /* Or absolute, depending on your layout */
        top: 30; 
        left: -100%; /* Position it off-screen initially */
        width: 300px; /* Adjust the width as needed */
        transition: left 0.7s ease-in-out; /* Transition property */

    }
    .lab-navbar.is-open {
      left: 0; /* Slide it in when toggled */
    }
    
  }
  
  @media screen and (min-width: 941px) {
    .lab-menu-icon{
        display:none;
    }
    
  }

  @media screen and (max-width: 500px) {
    .lab-navbar{
      width:90vw;
    }
  }


  
