.lab-navbar {
    border-radius: 8px;
    height: 50vh;
    margin:10px;
    width: 225px;
    color: black;
    border: 2px solid black;
    margin-top:20px;
  }
  .lab-navbarText {
    margin-top: 70px;
    padding: 20px;
  }
  
  .lab-navbar ul {
    align-items: space-between;
    list-style-type: none;
    padding: 20px;
  }
  
  .lab-navbar li {
    align-items: space-evenly;
    font-size: 16px;
    margin-bottom: 10px;
  }

  .lab-navbar a {
    text-decoration: none;
    color: black;
  }

  @media screen and (max-width: 940px) {
    .lab-navbar{
        display:none;
    }
    
  }
  
