/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */
  
  /* body {
    font-family: Arial, sans-serif; 
  } */
  
  /* comment */
  .message .m.owner{
    text-align: right;
    font-weight: 500;
  }
  /* Style for the main container */
  .chatsContainer {
    top: 10px;
    /* z-index: 99; */
    bottom: 15px;
    position: fixed;
    padding-top: 120px;
    display: flex;
    height: 70vh;
    width: 90%;
    left: 280px;
  }
  
  .sidebar > * {
    margin-bottom: 20px; /* Add space below each child element */
  }
  /* Style for the sidebar */
  .sidebar {
    box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.4); /* Shadow on the right side */
    /* z-index: 1; */
    flex: 0.7;
    background-color: #ffffff; /* WhatsApp green */
    color: white;
    padding: 20px;
    /* margin-left: 350px; */
    width: 40px;
    color: black;
  }
  
  
  
  .sidebar .ChatNavbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .ChatNavbar{
    font-size: 22px;
  }
  
  .user span{
    font-size: 22px;
  }
  .sidebar .ChatNavbar .user {
    display: flex;
    align-items: center;
    /* gap: 10px; */
  }



  .ChatNavbar .user img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  
  .sidebar .search input {
    width: 100%;
    padding: 8px;
    border: 1px solid rgb(119, 119, 119); /* Set border color to black */
    border-radius: 20px;
    background-color: #e2e2e2; /* Darker shade of green */
    color: black;
  }
  
  
  .sidebar .userChat {
    gap: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border-bottom: 0.8px solid #f2f0f0; /* Add grey divider */
  }

  
  .sidebar .userChat:hover {
    background-color: #19b6a3; /* Darker shade of green on hover */
  }
  
  .sidebar .userChat img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  /* Style for the chat area */
  .chat {
    /* left: 100; */
    width: 30px;
    height: 630px;
    flex: 3;
    background-color: #f0f2f5; /* WhatsApp chat background color */
    overflow-y: auto;
    padding-right: 3px;
  }
  
  .chatInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: 20px; */

  }
  
  .chatInfo{
    align-items: center;
    justify-content: space-between;
    background-color:#149082; 
    color: white;
    font-size: 26px; /* Adjust font size */
    padding: 10px 20px; /* Add padding */
    border-radius: 8px; /* Add border radius for a nicer look */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle shadow for depth */


   position: fixed;
   /* left: 100; */
   width: 63%;
   /* background-color: #12ab99; */
   color: white;
   font-size: 25px;
   height: 42px;
   margin-bottom: 12px;
  }

  .chatIcons {
    /* position: fixed; */
    display: flex;
    gap: 15px;
    margin-right: 20px;
  }
  
  /* .chat .messages {
    max-height: calc(100vh - 160px); Adjust height as needed
  } */
  
  .messages{
 width: 88%;
    padding-left: 20px;
    margin-top: 65px;
    height:2000px; /* Adjust height as needed */
    /* margin-bottom: 100px; */
  }

  .messages::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
     /* Background color of the scrollbar track */
  }
  
  .messages::-webkit-scrollbar-thumb {
    background-color: #000000; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Border radius of the scrollbar thumb */
  }
  
  /* Set scrollbar 20px from the right */
  .messages::-webkit-scrollbar {
    right: 200px; /* Distance from the right */
  }

  .message {
    /* width:140px; */
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    margin-bottom: 20px;
  }
  
  .message {
    font-size: 21px;
    max-width:fit-content; /* Adjust the maximum width as needed */
    padding: 5px;
    border-radius: 10px;
    background-color: white;
    word-wrap: break-word; /* Ensure long words break to fit within the container */
    margin-bottom: 10px; /* Add some space between messages */
  }
  
  .mtext{
    margin-top: -5px;
    font-size: 18px;
  }

.senderName p{
  font-weight: 500;
  font-size: 12px; /* Adjust font size as needed */
}
  .message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the container */
  }

  .message-containerBig {
    display: flex;
    flex-direction: row;
  }
.owner {
    background-color: #dcf8c6;
    font-size: 20px; /* Light green for own messages */
    text-align: right;
    justify-content: flex-end;
  }


  /* .message{
    font-size: 24px; 
    text-align: right;
    justify-content: flex-end;
  } */
  
  .messageContent p {
    margin: 0;
  }
  
  .chatImage{
    right:0;
  }





  /* Style for the input area */
  .input {
    height:50px;
    width: 63%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 10px;
    background-color: white;
    border-top: 1px solid #ccc;
  }
  
  .input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #f0f2f5; /* WhatsApp chat background color */
  }
  
  .input input::placeholder {
    color: #999;
  }
  
  .input button {
    margin-bottom: 15px;
    padding: 13px 25px;
    border: none;
    border-radius: 20px;
    background-color: #128c7e; /* WhatsApp green */
    color: white;
    cursor: pointer;
  }

  
  
  .send .icons {
    font-size: 25px;
    margin-right: 10px;
  }
  
  .send .fileAnnotationInput + label {
    padding: 10px;
    border-radius: 20px;
    background-color: #f0f2f5; /* Background color */
    color: #128c7e; /* Text color */
    border: 1px solid #128c7e; /* Border color */
    cursor: pointer;
  }
  
  .send .fileAnnotationInput + label:hover {
    background-color: #128c7e; /* Hover background color */
    color: white; /* Hover text color */
  }
  

  .fileAnnotationInput {
    width: 80px;
  }
  .chatNameBar{
    position:fixed;
  }

  
  .userChatName{
    font-size: 22px;
  }

   .userChatInfo p{
   margin-left: 16px;
    font-size: 14px;
  }

  .userChatInfo span{
    font-weight: bold;
  }

  .chatInfo span{
    font-size: 25px;
    font-weight: 700;}

  .ChatNavbar span{
    font-weight: bold;
    font-size: 28px;
  }


  .options-menu {
    width: 100px;
    position:relative;
    top: -60px;
    left: 220px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .options-menu-owner {
    width: 100px;
    position:relative;
    right: 5px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    /* Additional styles for when the message owner is you */
  }
  
  .option {
    cursor: pointer;
    padding: 3px 10px;
    font-size: 14px;
  }
  
  .option:hover {
    background-color: #f0f0f0;
  }


  /* ForwardDialog.css */
.forward-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.forward-dialog h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.forward-dialog p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.forward-dialog .button-container {
  display: flex;
  justify-content: space-between;

}

.forward-dialog button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.forward-dialog button:nth-child(1) {
  background-color: #29ada0; /* Forward button color */
  color: white;
}


.forward-dialog button:nth-child(2) {
  background-color: #f0f0f0; /* Cancel button color */
  color: #333;
}

.forward-dialog button:hover {
  filter: brightness(0.9);

}

.emoji-picker-container{
  height: 850px;
  width: 250px;
  padding-right: 50px;
  /* overflow-y: auto; */
}




.chats{
  max-height: calc(100vh);
  overflow-y: auto;
  margin-top: 18px;
  top: 100px;
}
.homeContainerAnnotate {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatsHomeAnnotate {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the container horizontally */
}

.chatsContainerAnnotate {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center the container horizontally */
}

.chatsContainerAnnotate img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: block; /* Ensure the image is displayed as a block-level element */
}


.MuiTypography-h5 {
  text-align: center; /* Center the text horizontally */
  margin-top: 20px; /* Add some space at the top */
}

.annotationSendButton {
  margin-left: -50px;
  max-height: 5%;
  padding: 10px 20px; /* Adjust button padding */
  border-radius: 5px; /* Adjust button border radius */
  background-color: #12ab99; /* Background color */
  color: white; /* Text color */
  font-size: 16px; /* Font size */
  border: none; /* Remove button border */
  cursor: pointer; /* Add pointer cursor on hover */
}

.annotationSendButton:hover {
  background-color: #0e8e78; /* Darker background color on hover */
}












/* Add media query for screens with a maximum width of 768px */
@media only screen and (max-width: 1278px) {
  /* General adjustments */
  /* html,
  body {
    font-size: 14px; 
  } */




  /* Adjustments for chats container and sidebar */
  .chatsContainer {
    margin-bottom: 100px;
    flex-direction: column; /* Change flex direction to stack items vertically */
    width: 100%; /* Occupy full width */
    left: 0; /* Remove fixed left position */
  }
  
  .sidebar {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);
    flex: 1; /* Occupy full width */
    width: 100%; /* Occupy full width */
    padding: 10px; /* Adjust padding */
    overflow-x: auto; /* Add horizontal scroll for small screens */
    margin-top: -45px; 
  }
 
  .ChatNavbar{
    top: 90px;
    position: fixed;
  }
  /* Adjustments for chat area */
  .chat {
    width: 100%; /* Occupy full width */
    height: auto; /* Adjust height */
  }

  .chatInfo span{font-size: 14px;}
  .chatInfo{
    position: fixed;
    /* left: 100; */
    background-color: #075e54;
    color: white;
    font-size: 14px;
    height: 30px;
    margin-bottom: 10px;
   }
  .chatInfo {
    width: 100%; /* Occupy full width */
  }

  .messages {
    width: 100%; /* Occupy full width */
  }

  /* Adjustments for input area */

  /* Adjustments for emoji picker container */
  .emoji-picker-container {

    flex: 1; /* Occupy remaining space */
    max-width: 100px; /* Limit maximum width */
  }

    
  .userChatName{
    font-size: 18px;
  }

  .ChatNavbar span{
 
    font-size: 18px;
  }
  /* Adjustments for input text field */
  .input input {
    bottom: 100px;
    width: 90%;
    margin-right:0px; /* Add some spacing between input and emoji picker */
    font-size: 14px; /* Adjust font size */
  }

  /* Adjustments for send button and emoji icon */
  .input-container {
    height: 70px;
    position: fixed;
    bottom: 60px; /* Positioned 50px from the bottom */
    display: flex;
    width: 100%;
    padding: 0 0px; /* Adjust padding as necessary */
    background-color: white;
    border-top: 1px solid #ccc;
  }
  
  .input {
    background-color: white;
    bottom: 65px;
    display: flex;
    align-items: center;
  }
  
  .send {
    width: 100%;
    height: 10px;
    background-color: white;
    position: fixed;
    bottom: 75px;
  right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.send label {
  display: flex;
}

  
  .icons {
    background-color: white;
    bottom: 70px;
    cursor: pointer;
  }
  

  /* Adjustments for send button */

  
  .search{
    border: 1px solid rgb(119, 119, 119);
    margin-bottom: 20px;
    top: 105px;
    width: auto;
    position: fixed;
  }

  
  .message.owner {
    margin-right: 30px;
    font-size: 12px;
    background-color: lightgreen;
    text-align: right; /* Align text to the right for owner messages */
  }

  .chats{
    max-height: calc(100vh);
    overflow-y: auto;
    margin-top: 18px;
    top: 60px;
  }
  .homeContainerAnnotate {
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chatsHomeAnnotate {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center the container horizontally */
  }
  
  .chatsContainerAnnotate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center the container horizontally */
  }
  
  .chatsContainerAnnotate img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
    display: block; /* Ensure the image is displayed as a block-level element */
  }
  

  .MuiTypography-h5 {
    text-align: center; /* Center the text horizontally */
    margin-top: 5px; /* Add some space at the top */
  }
  
  .annotationSendButton {
    margin-top: -70px;
    margin-left: -50px;
    max-height: 5%;
    padding: 10px 20px; /* Adjust button padding */
    border-radius: 5px; /* Adjust button border radius */
    background-color: #12ab99; /* Background color */
    color: white; /* Text color */
    font-size: 16px; /* Font size */
    border: none; /* Remove button border */
    cursor: pointer; /* Add pointer cursor on hover */
  }
  
  .annotationSendButton:hover {
    background-color: #0e8e78; /* Darker background color on hover */
  }

  

  /* Style for the input area */
  .input {
    height: 65px; /* Adjust height if needed */
    width: 99%;
    position: fixed;
    display: inline;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-top: 1px solid #ccc;
    bottom: 55px; /* Positioned 50px from the bottom */
}

.searchForm {
  display: none;
}

.messagesType {
    flex: 1; /* Take up remaining space */
    margin-right: 10px; /* Add some space between input and emoji picker */
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #f0f2f5; /* WhatsApp chat background color */
}

.send {
    display: flex;
    align-items: center;
}

.icons {
    cursor: pointer;
}

  .sidebar {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0);}
  .input input::placeholder {
    color: #999;
  }
  
  
}
