@mixin mobile {
    @media screen and (max-width:480px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width:768px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (max-width:1200px) {
        @content;
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.formContainer {
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .formWrapper {
        background-color: white;
        padding: 20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        p {
            color: #5d5b8d;
            font-size: 14px;
        }

        .form {

            display: flex;
            flex-direction: column;
            gap: 15px;

            label {
                font-weight: bold;
                font-size: 16px;
                color: #5d5b8d;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
            }

            input {
                padding: 15px;
                border: none;
                border-bottom: 1px solid #a7bcff;

                &::placeholder {
                    color: rgb(175, 175, 175);
                }
            }

            button {
                background-color: #C4D7F2;
                color: white;
                padding: 10px;
                border: none;
                cursor: pointer;
                @include tablet {
                    position: absolute;
                    bottom: 10px;
                }
            }
        }

        .logo {
            // color:#5d5b8d;
            font-weight: bold;
            font-size: 14px;
            color: #5d5b8d;

            @include tablet {
                display: none;
            }

        }

        .title {
            font-weight: bold;
            font-size: 18px;
            color: #5d5b8d;
        }
    }
}

//  ----------Home ----------------
.home {
    background: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container {
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;
        overflow: hidden;
        @include tablet {
            width: 90%;
            
        }

        .sidebar {
            flex: 1;
            background-color: #5d5b8d;


            .navbar {
                display: flex;
                align-items: center;
                background-color: #2f2d52;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: white;


                .logo {
                    font-weight: bold;

                    @include tablet {
                        display: none;
                    }
                }

                .user {
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    button {
                        background-color: #5d5b8d;
                        font-size: 10px;
                        border: none;
                        cursor: pointer;
                        color: white;
                        padding: 10px;
                    }
                }
            }

            .search {
                border-bottom: 1px solid gray;

                .searchForm {
                    padding: 10px;

                    input {
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;

                        &::placeholder {
                            color: lightgray;
                        }
                    }
                }


            }

            .userChat {
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: white;
                cursor: pointer;

                &:hover {
                    background-color: #2f2d52;
                }

                img {
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                }

                .userChatInfo {
                    span {
                        font-weight: bold;
                        font-size: 15px;
                    }

                    p {
                        font-size: 14px;
                        color: lightgray;

                    }
                }
            }
        }

        .chat {
            flex: 2;

            .chatInfo {
                background-color: #5d5b8d;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: lightgray;
            }

            .chatIcons {
                display: flex;
                gap: 15px;
                cursor: pointer;

            }

            .messages {
                background-color: #F0F7EE;
                padding: 10px;
                height: calc(100% - 120px);
                overflow: scroll;

                .message {
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .messageInfo {
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: 300;

                        img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            object-fit: cover;

                        }
                    }

                    .messageContent {
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p {
                            background-color: #fff;
                            padding: 10px;
                            border-radius: 0px 10px 10px 10px;

                        }

                        img {
                            width: 50%;
                        }
                    }

                    &.owner {
                        flex-direction: row-reverse;

                        .messageContent {
                            align-items: flex-end;

                            p {
                                background-color: #8da4f1;
                                color: #fff;
                                border-radius: 10px 0px 10px 10px;
                                max-width: max-content;
                            }
                        }
                    }
                }
            }

            .input {
                height: 70px;
                padding: 10px;
                background-color: #fff;
                display: flex;
                align-items: center;
                justify-content: space-between;

                input {
                    padding: 24px;
                    width: 100%;
                    border: none;
                    outline: none;
                    color: #181D27;
                    font-size: 15x;

                    &::placeholder {
                        color: lightgray;
                    }
                }

                .send {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    button {
                        bottom: none;
                        padding: 10px;

                    }
                }

                .icons {
                    height: 24px;
                    cursor: pointer;
                    color: rgb(161, 161, 163);
                }
            }
        }

    }

}

.call-container{
    padding-left: 380px;
    margin: 20px;
    margin-top: 10px;
    font-size: 45px;
    color: black;
}

.call-container button{
    font-size:30px;
    background-color:green;
    color: white;
    gap: 10px;
    margin-right: 10px;
    border-radius: 10px;
}
.decline{
    font-size:30px;
    background-color: red;
    color: white;
}